/* FOOTER */
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 2rem;
    padding-bottom: 1rem;
  }

  .footer-inner-container {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .footer-header {
    font-size: 3rem;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .footer-content {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .footer-icons {
    display: flex;
    gap: 3.5rem;
    margin-top: .5rem;
  }