.content-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
}

.map-container {
    border: 7px solid var(--primary-red);
    padding: 1rem;
    position: relative;
}

.map-container::before {
    content: "";
    width: 6.25rem;
    height: 70rem;
    position: absolute;
    z-index: -1;
    background-color: var(--primary-red);
    left: calc(50% - 50px);
    top: -100px;
}

.map {
    object-fit: fill;
}

.locations-list {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}
.location {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.375rem;
    text-transform: uppercase;
}