@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --primary-red: #C8102E;
  --primary-black: black;
  --primary-white: white;

  --brand-font: 'Roboto Mono', sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

body {
  font-family: var(--brand-font);
  box-sizing: border-box;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  margin: 0;
}

.bkg-red {
  background-color: var(--primary-red);
}

.text-white {
  color: var(--primary-white)
}

.text-black {
  color: var(--primary-black)
}

.text-red {
  color: var(--primary-red)
}

button {
  cursor: pointer;
}

.centered-div {
  align-items: center;
}

.flex {
  display: flex;
}

.bold {
  font-weight: var(--font-weight-bold);
}

.relative {
  position: relative;
}

.outline-text {
  font-size: 4rem;
  font-style: normal;
  font-weight: var(--font-weight-bold);
  letter-spacing: 1rem;
  padding-left: 5.3rem;
  -webkit-text-stroke-width: 3px;
  -webkit-text-fill-color: transparent;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* HEADER */
#landing-header {
  display: flex;
  justify-content: space-between;
  height: 7.38rem;
  overflow-y: visible;
  padding-inline: 2rem;
}

#about-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
  height: 7.38rem;
}

.landing-logo {
  width: 13.36281rem;
  height: 20.5625rem;
  margin-top: 1.6rem;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 5rem;
  cursor: pointer;
}

.header-link {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.1125rem;
  text-transform: uppercase;
  color: var(--primary-black);
  list-style: none;
  text-align: center;
  transition: color 350ms;
  position: relative;
  padding-block: .3rem;
}

.header-link:hover {
  color: var(--primary-red);
}

.header-link::after {
  content: ' ';
  position: absolute;
  width: 0px;
  height: 3px;
  left: 50%;
  bottom: 0;
  background-color: var(--primary-red);
  transition: all ease-in-out 350ms;
}

.header-link:hover::after {
  width: 100%;
  left: 0;
}

.search-donate {
  display: flex;
  align-items: center;
  gap: 1.69rem;
  margin-left: 7rem;
}

.donate-button {
  width: 6.9375rem;
  height: 3rem;
  font-family: var(--brand-font);
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 0.1125rem;
  border: none;
  transition: scale 350ms;
}

.donate-button:hover {
  scale: 1.1;
}

/* RED BARS */
.horizontal-bar {
  width: 100%;
  height: 6.25rem;
  background-color: var(--primary-red);
  position: relative;
}

/* TAGLINE */

.tagline-container {
  margin-right: 5.31rem;
  margin-left: 20rem;
  margin-top: 3rem;
}

.tagline {
  font-size: 0.875rem;
  font-weight: var(--font-weight-normal);
  line-height: 2.9375rem;
  letter-spacing: 0.315rem;
  text-transform: uppercase;
  text-align: right;
}

.emphasis {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
}

/* PICTURE SECTION */

.picture-container {
  display: flex;
  justify-content: center;
  gap: 2.75rem;
  margin-top: 3rem;
}

.picture-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture-title {
  font-size: 2.5rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.525rem;
  text-transform: uppercase;
}

.skateboard-couple {
  position: relative;
}

.skateboard-couple::before {
  content: " ";
  width: 6.25rem;
  height: 60rem;
  position: absolute;
  z-index: -1;
  background-color: var(--primary-red);
  top: -275px;
}

.skateboard-couple::after {
  content: " ";
  height: 6.25rem;
  width: 70rem;
  position: absolute;
  background-color: var(--primary-red);
  z-index: -1;
  right: 0;
  bottom: 50%
}

/* FOOTER */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.footer-inner-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.footer-header {
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0;
}

.footer-content {
  margin-block-start: 0;
  margin-block-end: 0;
}

.footer-icons {
  display: flex;
  gap: 3.5rem;
  margin-top: .5rem;
}

/* ABOUT PAGE */
#about-title-small {
  font-size: 2.25rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.1575rem;
  position: absolute;
  top: -40px;
  padding-left: 2.25rem;
}

.staff-container {
  margin-block: 4rem;
  margin-inline: 7rem;
  display: flex;
  gap: 3rem;
}

.staff {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.staff-profile {
  align-items: center;
  padding-left: 2.25rem;
  gap: 2.25rem;
}

.staff-details {
  font-size: 1.25rem;
  font-weight: var(--font-weight-normal);
  line-height: 1.625rem;
  letter-spacing: 0.2625rem;
  text-transform: uppercase;
}

.staff-details .name {
  font-weight: var(--font-weight-bold);
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 500px;
}

#about-bold {
  font-size: 1.875rem;
  text-transform: uppercase;
}

#about-normal {
 font-size: 1.25rem;
 line-height: 1.625rem;
 margin-top: 2rem;
 text-transform: uppercase;
}

#toni-pic::before {
  content: " ";
  width: 6.25rem;
  height: 60rem;
  position: absolute;
  z-index: -1;
  background-color: var(--primary-red);
  top: -100px;
  left: 50%;
}

